@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Coco Gothic';
  src: url('/fonts/CocoGothic-Light_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coco Gothic Light';
  src: url('/fonts/CocoGothic-Light_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes slideLoop {
  0% {
    transform: translateX(100%);
  }
  45% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-animation {
  animation: slideLoop 8s linear infinite;
}
